<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- 메인 박스 -->
<div style="width: 100%; background-color: #f0f1f3;">
    <!-- 타이틀 부분 -->
    <div
            style="width: 500px; padding-top: 30px; display: flex; align-items: center; justify-content: center; margin-left: auto; margin-right: auto;">
        <!-- 로고박스 -->
        <!-- 로고 -->
        <div style="width: 120px; height: 80px; transform: skew(-20deg); background-color:#245698;">
            <div style="width: 72px; height: 40px; margin-left: 24px; margin-top: 20px; background-color:#f0f1f3;">
            </div>
        </div>

        <!-- 로고 텍스트 -->
        <div style="display: flex; margin-left: 30px; font-weight: 700; font-size: 30px;">
            <p>OPPE</p><p style="color: #245698;">NN</p><p>EWS</p>
        </div>

    </div>

    <!-- Inner Box -->
    <div
            style="font-weight: 200; font-family: 'Cera Round Pro',' Proxima Nova Soft',' Proxima Nova',' Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; background-color:black; width: 600px; margin-left: auto; margin-right: auto; border-radius: 10px; padding: 40px; margin-top: 30px;">
        <div style="display: flex; align-items: center;">
            <p style="font-size: 30px; font-weight: 700;">Welcome!</p>
            <p th:text="${userName}" style="font-size: 30px; font-weight: 700; color: #245698; margin-left: 10px;"></p>

        </div>
        <p >Thanks for Signing Up!</p>
        <p>To complete your registration, please click the Button Below.</p>

        <img src="58aff1e7829958a978a4a6ce.png"/>

        <div style="display: flex; justify-content: center; margin-top: 30px;">
            <a th:href="${link}"><button
                    style="width: 150px; height: 50px; font-size: 30px; cursor: pointer; background-color:#245698; border: none;">Go</button></a>
        </div>

    </div>
</div>
</body>
</html>